.container{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-content: center; 
    height: 60vh;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    place-self: center;

    width: 35vw;

    padding: 30px 10px 15px;

    border-radius: 15px;
    background: var(--primary-color);
    border: 1px solid var(--title-color);

    /* filter: drop-shadow(0 0 2em var(--neutral-glow)); */
    
}

.login-form input{
    border: transparent;
    padding: 5px;
    margin: 2px;

    width: 20vw;
    font-family: 'Courier New', Courier, monospace;
    /* font-variant: small-caps; */

    /* background-color: rgb(246, 246, 246, 0.8); */
}

.login-form button{
    margin: 20px 0 15px 0;
    width: 28vw;
    
    color: var(--title-color);
    /* border: 1px solid rgb(46, 146, 179); */
    border: transparent;
    /* border: 1px solid lightblue; */
    background: var(--secondary-color);
}

.login-form button:hover {
  color: var(--highlight-color);
  
  background: var(--neutral-glow);
  border: 2px solid var(--highlight-color);
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.sign-up{
    margin: 10px;

    color: var(--text-color);
}

.sign-up a{
    color: var(--accent-color);
    font-weight: 600;
}

.sign-up a:hover{
    color: var(--title-color);
    filter: drop-shadow(0 0 2em var(--title-color));
}

/* color: 'var(--accent-color-dark)' */

.loading{
    color: white;
    margin: 10px;
}

.loading-txt{
    color: var(--text-color);
}