

#mechForm{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 10px 15px;

    border: 1px solid rgb(160, 203, 217, 0.5);
    border-radius: 15px;
    background: var(--primary-bg-dark);

    place-self: center;
    width: 35vw;
    margin: 10px;
}

#mechForm label{
    display: none;
}

#mechForm input{
    border: transparent;
    padding: 5px;
    margin: 4px;

    height: 25px;
    width: 20vw;
    font-family: 'Courier New', Courier, monospace;

    background: rgb(37, 64, 86);
    color: var(--text-light);
    /* font-variant: small-caps; */
}

#mechForm button{
    margin: 20px 0 15px 0;
    width: 28vw;

    border: 1px solid lightblue;
    color: lightblue;
    /* background: var(--primary-bg-dark); */
    background: rgb(177, 217, 230, 0.2);
    /* background: radial-gradient(circle,rgba(63, 179, 251, 1) 44%, rgba(119, 70, 252, 1) 100%); */
}

#mechForm button:hover {
  
  color: var(--accent-color-dark);
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--accent-color-dark);
  
  filter: drop-shadow(0 0 2em #61dafbaa);
}