*{
  margin: 0;
  padding: 0;

}

body{
  background-color: var(--secondary-bg-dark);
  color: var(--text-light);
}

/* .mainDark {
  background-color: rgb(37, 37, 37) !important;
  color: rgb(230, 230, 230);
}

.mainLight {
  background-color: rgb(235, 235, 235) !important;
  color: rgb(47, 47, 47) !important;
} */

:root {
  --primary-color-dark: #3498db;
  --secondary-color-dark: #4e8b9e;
  --accent-color-dark: #3cc5e7;
  --primary-bg-dark: #173244;
  --secondary-bg-dark: #0a2232;
  --title-light: #ffffff;
  --text-light: #ffffff;



  --primary-color-light: #3498db;
  --secondary-color-light: #6cd8f3;
  --accent-color-light: #3c5ee7;
  --title-dark: #333333;
  --text-dark: #333333;
}